# Legacy HTML builder files
public/CodeDesign _ Frontend Builder_files/
public/CodeDesign _ Frontend Builder.html
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
# Node
node_modules/
dist/

# Vite
.vite/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/VSOConvertXtoVideoUltimate2.0.0.105.u.taiwebs.com.zip
public/VSOConvertXtoVideoUltimate2.0.0.105.u.taiwebs.com/VSO ConvertXtoVideo Ultimate 2.0.0.105 Multilingual/Crack/VSOVCDP.zip
public/VSOConvertXtoVideoUltimate2.0.0.105.u.taiwebs.com/VSO ConvertXtoVideo Ultimate 2.0.0.105 Multilingual/vso_convertxtovideo2_setup.exe
public/VSOConvertXtoVideoUltimate2.0.0.105.u.taiwebs.com/VSO ConvertXtoVideo Ultimate 2.0.0.105 Multilingual/Crack/wtsapi32.dll
public/VSOConvertXtoVideoUltimate2.0.0.105.u.taiwebs.com/VSO ConvertXtoVideo Ultimate 2.0.0.105 Multilingual/Readme.txt
public/VSOConvertXtoVideoUltimate2.0.0.105.u.taiwebs.com/VSO ConvertXtoVideo Ultimate 2.0.0.105 Multilingual/Crack/ReadMe.txt
